* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}


/* header */

.header {
    color: white;
    background-color: #6d75f1;
    font-family: sans-serif;
}

.title {
    padding: 20px;
    margin-left: 30px;
    letter-spacing: 5px;
    font-size: 35px;
    display: inline-block;
}

.header .icon {
    display: none;
}

.mob-nav {
    display: none;
}

/* End Header*/

/*Navigation */

.nav {
    position: sticky;
    top: 0;
    background-color: aliceblue;
    padding-left: 50px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgb(0, 0, 0, 0.1);
}

.top-nav {
    margin: auto;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: inherit;
}

.nav .top-nav:hover {
    background-color: black;
    color: white;
}

.active {
    background-color: black;
    color: white;
}

/*End Navigation */

/* Home Page */

#home {
    background: linear-gradient(90deg,blue,purple,red);
    color: white;
}

.content{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 20%;
    font-size: large;
    padding-top: 40px;
    padding-right: 50px;
    padding-bottom: 20px;
}

.qoute h2 {
    text-transform: uppercase;
    padding-bottom: 20px;
}

.qoute {
    width: 40%;
    padding-top: 20px;
    font-family:cursive;
}

.pic img {
    margin-top: 20px;
    height: 80%;
    width: 50%;
    border-radius: 20px;
    border: 5px solid white;
    max-width: 500px;
}

/* End Home page */

/*Study page*/

#study {
    /*background-color: greenyellow;*/
    background-image: linear-gradient(45deg, #cdbeff, #fed9ff);

    
} 

.box {
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    margin-bottom: 10px;
}

/*End Study page*/

#interset {
    background-color: lightsalmon;

}

#about {
    background-color: turquoise;

}

#contact {
    background-color: limegreen;

}

@media screen and (max-width: 720px) {
    .header .icon {
        display: block;
        float: right;
    }
    .nav {
        display: none;
    }

    .qoute {
        width: 500px;
    }
}

@media screen and (max-width: 720px) {
    .header {
        position: sticky;
        top: 0;
        font-size: 28px;
        transition: 1s ease-in-out;
    }
    .title {
        font-size: 10px;
        padding: 10px;
        font-weight: bold;
    }
    .header .icon {
        box-sizing: border-box;
        width: fit-content;
        padding-top: 10px;
        padding-right: 10px;
        color: white;
        background-color: inherit;
        border: none;
        display: block;
    }
    #myToggleEnd {
        transition: 1s ease-out;
        display: none;
    }
    .mob-nav {
        background-color: aliceblue;
        position: relative;
        display: none;
    }
    .mob-nav a {
        display: block;
        text-decoration: none;
        width: 100%;
        text-align: center;
        transition: 0.5s ease-in;
        font-size: 16px;
    }
    .top-nav:hover {
        background-color: black;
        color: white;
    }
}