* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

/* header */

.header {
    color: white;
    background-color: #6d75f1;
}

.title {
    padding: 20px;
    margin-left: 30px;
    letter-spacing: 5px;
    font-size: 35px;
    display: inline-block;
}

.header .icon {
    box-sizing: border-box;
    width: 80px;
    color: white;
    background-color: inherit;
    border: none;
    display: none;
}

/* End Header*/

/*Navigation */

.nav {
    position: sticky;
    top: 0;
    background-color: aliceblue;
    padding-left: 50px;
}

.top-nav {
    margin: auto;
    border: none;
    cursor: pointer;
    padding: 10px;
    background-color: inherit;
}

.nav .top-nav:hover {
    background-color: black;
    color: white;
}

.active {
    background-color: black;
    color: white;
}

/*End Navigation */

/* Home Page */

#home {
    background-color: #8333e9;
    min-height: 100vh;
}

.content {
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: auto;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
}

.qoute {
    padding-top: 20px;
    color: white;
    max-width: 400px;
}

.pic img {
    margin-top: 20px;
    height: 80%;
    width: 50%;
    border-radius: 50%;
    border: 5px solid white;
    max-width: 600px;
}

/* End Home page */

/*Study page*/

#study {
    background-color: greenyellow;
    min-height: 100vh;
}

.fa-times {
    display: none;
}

/*End Study page*/

#interset {
    background-color: lightsalmon;
    min-height: 100vh;
}

#about {
    background-color: turquoise;
    min-height: 100vh;
}

#contact {
    background-color: limegreen;
    min-height: 100vh;
}

@media screen and (max-width: 720px) {
    .header .icon {
        display: block;
        float: right;
    }
    .nav {
        display: none;
    }
}

@media screen and (max-width: 720px) {
    .header {
        position: sticky;
        top: 0;
        font-size: 28px;
        transition: 1s ease-in-out;
    }
    .title {
        font-size: 28px;
        padding: 10px;
    }
    .icon {
        position: relative;
        top: 20px;
        cursor: pointer;
        transition: 0.5s ease-in-out;
    }

    #myToggleEnd {
        transition: 1s ease-out;
        display: none;
    }
    .mob-nav {
        background-color: aliceblue;
        position: relative;
        display: none;
    }
    .mob-nav a {
        display: block;
        text-decoration: none;
        width: 100%;
        text-align: center;
        transition: 0.5s ease-in;
        font-size: 16px;
    }
    .mob-nav a:hover {
        background-color: black;
        color: white;
    }
}