* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body {
    scroll-behavior: smooth;
}

/* header */

.header {
    height: 80px;
    color: white;
    background-color: #374785;
}

.title {
    padding: 20px;
    margin-left: 30px;
    letter-spacing: 5px;
    font-size: 35px;
}

/* End Header*/

/*Navigation */

.nav {
    float: right;
    margin-top: 50px;
    margin-right: 9%;
    position: sticky;
    top: 4px;
}

.top-nav {
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    background-color: white;
}

.nav .top-nav a{
    text-decoration: none;
    font-size: 24px;
}

.nav .top-nav:hover {
    letter-spacing: 0.5px;
    font-size: 24px;
    text-decoration: none;
}

.nav a:hover {
    background-color: white;
    color: black;
}

.active {
    background-color: black;
    color: white;
}

.active:before{
    color: white;
}

/*End Navigation */

/* Home Page */

#home {
    background-image: url("images/bg1.jpg");
    background-attachment: fixed;
}

.content {
    margin-top: 8%;
    margin-right: 10%;
    box-sizing: border-box;
    display: flex;
    padding: 20px;
}

.qoute {
    padding-top: 20px;
    margin-left: 20%;
    color: white;
    font-size: 40px;
}

.pic img {
    width: 50%;
    height: 500px;
    float: right;
    border-radius: 20px;
}

/* End Home page */

/*Study page*/

#study{
    background-color: greenyellow;
}

/*End Study page*/

#interset {
    background-color: lightsalmon;
}

#about {
    background-color: turquoise;
}

#contact {
    background-color: limegreen;
}